# Saúl Arath Hernández Hernández - Mat. 1815642

## TAREA - PÍA PÓSTER. 

* Dada una base de datos en grupo, realizar las diferentes técnicas de pre procesamiento de datos. Pueden ser las mencionadas en esta práctica, o pueden agregar nuevas. Los temas que tienen que tocar de manera obligatoria.

* **Importar librerias y base de datos.**

In [1]:
import pandas as pd
import numpy as np

In [33]:
#Leyendo la base de datos.

data_frame = pd.read_csv("Stats_Prueba.csv")

* **Visualización de los datos.**

In [26]:
data_frame.shape # Número de filas y columnas.

(53798, 31)

In [34]:
data_frame.head() # Primeros cinco elementos de las columnas.

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight_lb,weight_kg,nationality,high_school
0,NBA,2019 - 2020,Regular_Season,James Harden,HOU,68,2482.6,672,1514,299,...,2335,1989.0,Aug,"Aug 26, 1989",06-may,196.0,220.0,100.0,United States,Artesia High School
1,NBA,2019 - 2020,Regular_Season,Damian Lillard,POR,66,2473.7,624,1349,270,...,1978,1990.0,Jul,"Jul 15, 1990",06-mar,191.0,195.0,88.0,United States,Oakland High School
2,NBA,2019 - 2020,Regular_Season,Devin Booker,PHX,70,2511.8,627,1283,141,...,1863,1996.0,Oct,"Oct 30, 1996",06-jun,198.0,206.0,93.0,United States,Moss Point High School
3,NBA,2019 - 2020,Regular_Season,Giannis Antetokounmpo,MIL,63,1916.9,685,1238,89,...,1857,1994.0,Dec,"Dec 6, 1994",06-nov,211.0,242.0,110.0,Greece / Nigeria,NaN
4,NBA,2019 - 2020,Regular_Season,Trae Young,ATL,60,2120.1,546,1249,205,...,1778,1998.0,Sep,"Sep 19, 1998",06-feb,188.0,180.0,82.0,United States,Norman High School

In [28]:
data_frame.tail() # Últimos cinco elementos de las columnas.

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,PTS,birth_year,birth_month,birth_date,height,height_cm,weight_lb,weight_kg,nationality,high_school
53793,NBA,1999 - 2000,Playoffs,John Salley,LAL,18,78.0,5,13,0,...,17,1964.0,May,"May 16, 1964",06-nov,211.0,230.0,104.0,United States,Canarsie High School
53794,NBA,1999 - 2000,Playoffs,Muggsy Bogues,TOR,3,87.0,6,21,3,...,16,1965.0,Jan,"Jan 9, 1965",05-mar,160.0,136.0,62.0,United States,Dunbar High School
53795,NBA,1999 - 2000,Playoffs,Jerome Williams,DET,3,73.0,7,14,0,...,15,1973.0,May,"May 10, 1973",06-sep,206.0,206.0,93.0,United States,Magruder High School
53796,NBA,1999 - 2000,Playoffs,Randy Livingston,PHX,7,63.0,6,27,2,...,14,1975.0,Apr,"Apr 2, 1975",06-abr,193.0,209.0,95.0,United States,Isidore Newman School
53797,NBA,1999 - 2000,Playoffs,Doug Christie,TOR,3,61.0,3,13,3,...,12,1970.0,May,"May 9, 1970",06-jun,198.0,200.0,91.0,United States,Rainier Beach High School

* **Desripción básica de columnas.**

In [35]:
data_frame.columns # Nombres de las columnas.

Index(['League', 'Season', 'Stage', 'Player', 'Team', 'GP', 'MIN', 'FGM',
       'FGA', '3PM', '3PA', 'FTM', 'FTA', 'TOV', 'PF', 'ORB', 'DRB', 'REB',
       'AST', 'STL', 'BLK', 'PTS', 'birth_year', 'birth_month', 'birth_date',
       'height', 'height_cm', 'weight_lb', 'weight_kg', 'nationality',
       'high_school'],
      dtype='object')

In [36]:
data_frame.dtypes # Información sobre el tipo de dato.

League          object
Season          object
Stage           object
Player          object
Team            object
GP               int64
MIN            float64
FGM              int64
FGA              int64
3PM              int64
3PA              int64
FTM              int64
FTA              int64
TOV              int64
PF               int64
ORB              int64
DRB              int64
REB              int64
AST              int64
STL              int64
BLK              int64
PTS              int64
birth_year     float64
birth_month     object
birth_date      object
height          object
height_cm      float64
weight_lb      float64
weight_kg      float64
nationality     object
high_school     object
dtype: object

Para nuestra base de datos, tenemos datos de tipo objeto, flotantes y enteros.
Por el momento no nos vemos en la necesidad de cambiar nuestras variables ya que todas están bien definidas, por lo que las dejamos así para cuestión del ejercicio.

[Revisamos los datos nulos por columna](https://www.interactivechaos.com/python/scenario/calculo-del-numero-de-nan-por-columna-en-un-dataframe)

In [76]:
data_frame.isnull().any() # Revisamos que columnas contienen valores nulos.

League         False
Season         False
Stage          False
Player         False
Team            True
GP             False
MIN            False
FGM            False
FGA            False
3PM            False
3PA            False
FTM            False
FTA            False
TOV            False
PF             False
ORB            False
DRB            False
REB            False
AST            False
STL            False
BLK            False
PTS            False
birth_year      True
birth_month     True
birth_date      True
height          True
height_cm       True
weight_lb       True
weight_kg       True
nationality     True
high_school     True
dtype: bool

In [53]:
data_frame.isnull().sum() # Calcula los datos nulos por columna.

League             0
Season             0
Stage              0
Player             0
Team              11
GP                 0
MIN                0
FGM                0
FGA                0
3PM                0
3PA                0
FTM                0
FTA                0
TOV                0
PF                 0
ORB                0
DRB                0
REB                0
AST                0
STL                0
BLK                0
PTS                0
birth_year       319
birth_month      319
birth_date       319
height            74
height_cm         74
weight_lb       4566
weight_kg       4566
nationality        7
high_school    30247
dtype: int64

Por lo que para la columna de Team, birth_year, birth_month, birth_date, height, height_cm, weight_lb, weight_kg, nationality y high_school contamos con datos nulos NaN o None. Proximamente se tomará decisión si de eliminar alguna columna dado a que ofrece poca información o no es significativo para el problema.

In [54]:
# El total de datos nulos en el data_frame es: 

data_frame.isnull().sum().sum()

40502

* **Clasificación de los datos.**

In [67]:
data_frame.League.unique() # Creamos un clasificador en base a la columna.

array(['NBA', 'Euroleague', 'Israeli-BSL', 'Argentinian-Liga-A',
       'Australian-NBL', 'Austrian-A-Bundesliga', 'Balkan-BIL',
       'Belarusian-BPL', 'Belgium-Scooore-League', 'Bosnian-BiH-Liga',
       'Brazilian-NBB', 'British-BBL', 'Bulgarian-NBL', 'Canadian-NBL',
       'Chinese-CBA', 'Croatian-A-1-Liga', 'Czech-NBL',
       'Danish-Basketligaen', 'Estonian-Latvian-Basketball-League',
       'Eurocup', 'FIBA-Europe-Cup', 'Finnish-Korisliiga',
       'French-Jeep-Elite', 'Georgian-Super-Liga', 'German-BBL',
       'Greek-HEBA-A1', 'Hungarian-NBIA', 'Italian-Lega-Basket-Serie-A',
       'Japanese-BLeague', 'Kosovo-FBK', 'Lebanese-Division-A',
       'Lithuanian-LKL', 'Luxembourg-Total-League',
       'Macedonian-Superleague', 'Mexican-LNBP', 'Netherlands-DBL',
       'New-Zealand-NBL', 'Norwegian-BLNO', 'Polish-TBL',
       'Romanian-Divizia-A', 'Serbian-KLS', 'Slovakian-Extraliga',
       'Slovenian-SKL', 'South-Korean-KBL', 'Spanish-ACB',
       'Swedish-Basketligan', 'Swiss-LNA', 'Turkish-BSL',
       'Ukrainian-Superleague', 'Balkan-BIBL'], dtype=object)

El paso siguiente es crear agrupaciones de datos por liga de basketball, para efectos del ejercicio, agrupamos las que tienen más relevancia para nosotros revisar.

In [69]:
#Agrupamos los valores de la liga NBA y los guardamos en un archivo csv. 
clase_NBA= data_frame[data_frame['League']=='NBA']
clase_NBA.to_csv('Solo_NBA.csv', index=False)

In [70]:
#Agrupamos los valores de la liga Euroleague y los guardamos en un archivo csv. 
clase_EuroL = data_frame[data_frame['League']=='Euroleague']

clase_EuroL.to_csv('Solo_Euroleague.csv', index=False)

In [71]:
#Agrupamos los valores de la liga Mexican-LNBP y los guardamos en un archivo csv. 
clase_MexicanL = data_frame[data_frame['League']=='Mexican-LNBP']

clase_MexicanL.to_csv('Solo_MexicanLeague.csv', index=False)

#### Pregunta de interés y extras:

* ¿Para que me puede servir estas agrupaciones para la práctica siguiente?

R = Estas agrupaciones nos van a servir para una técnica de clasificación en la que podemos dinstiguir de las distintas agrupaciones que hay. A su vez, nos podrían servir para filtrar el problema y resolver objetivos secundarios por agrupaciones.

* Investigar los siguientes comandos: ?df.dropna() ?df.astype

R= El comando [df.dropna()](https://www.interactivechaos.com/manual/tutorial-de-pandas/el-metodo-dropna#:~:text=El%20m%C3%A9todo%20dropna%20permite%2C%20de,dejar%20solo%20aquellos%20no%20nulos.&text=Vemos%20c%C3%B3mo%20ninguna%20fila%20se,ellas%20todos%20los%20elementos%20nulos.) permite, de una forma muy conveniente, filtrar los valores de una estructura de datos pandas para dejar solo aquellos no nulos. El comando [df.astype()](https://www.geeksforgeeks.org/python-pandas-dataframe-astype/) nos permite convertir a un tipo de categoria a otra en pandas.